In [54]:
import pandas as pd
import numpy as np

In [55]:
data = pd.read_csv("supply_chain_data.csv")
data.head()

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632

In [56]:
HoldingCost = 0.2  # The amount of money that you will need to pay for holding one item

In [71]:
D = data["Number of products sold"]
S = data["Costs"]
H = data["Number of products sold"] * HoldingCost
EOQ = np.sqrt((2*S*D)/H)

In [58]:
data["Current Order Quantity"] = data["Order quantities"]

In [79]:
data["EOQ"] = EOQ.astype(int)

In [80]:
comparison_columns = ["SKU","EOQ","Current Order Quantity"]
print(data[comparison_columns])

      SKU  EOQ  Current Order Quantity
0    SKU0   43                      96
1    SKU1   70                      37
2    SKU2   37                      88
3    SKU3   50                      59
4    SKU4   96                      56
..    ...  ...                     ...
95  SKU95   88                      26
96  SKU96   43                      32
97  SKU97   73                       4
98  SKU98   93                      27
99  SKU99   45                      59

[100 rows x 3 columns]